.footer {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #efdab1;
    font-family: 'poppins', sans-serif !important;
    border-radius: 1em;
    position: relative;
    z-index: 2;
    border: 1px solid #8d7c60;
    box-shadow: 0 8px 20px 0 #383126;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
}

.imgg img {
    display: block;
    bottom: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    z-index: 1;
    margin-bottom: -6%;
}

.footer-bg {
    position: relative;
    z-index: inherit;
    padding: 0.8em;
    background-color: #e2c79a;
}

.wlug-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

.wlug-logo p {
    font-size: 0.7rem;
    align-self: center;
}

.wlug-logo img {
    width: 16rem;
    height: auto;
    margin-right: 2rem;
}

.smedia-links {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.padding1rem {
    padding: 0.5rem 1rem;
}

.stay_tuned {
    text-align: center;
    font-weight: 800;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.navli, .policies {
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 1.45rem;
    gap: 0.5em;
}

.navli a, .policies a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.navli a:hover, .policies a:hover {
    text-shadow: 0.5px 0.5px 0.1px #000000;
    color: #000000;
    text-decoration: none;
}

.ics {
    display: flex;
    gap: 0.8em;
    margin-bottom: 1.5rem;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .imgg img {
        margin-top: 5%;
        margin-bottom: 0%;
        overflow: hidden;
    }

    .ics, .stay_tuned {
        margin: 0.5rem;
    }

    .dash {
        display: none;
    }

    .smedia-links, .navli {
        width: 100%;
        gap: 0.5em;
        align-items: center;
        font-size: 1rem;
    }

    .policies {
        width: 100%;
        gap: 0.5em;
        align-items: center;
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .footer {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0.5rem;
    }

    .wlug-logo {
        display: none;
    }

    .stay_tuned {
        font-size: 1.4rem;
    }

    .copyright2 {
        display: block;
    }

    .copyright2 p {
        font-size: 0.5rem !important;
    }
}
