.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 8rem 5rem 6rem 5rem;
}

.logo {
    width: 35vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2rem auto;
    background-color: rgba(255, 255, 255, 0.097);
    border-radius: 3rem;
}

.logo img {
    width: 100%;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.text {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 70%;
}

.button {
    margin-top: 2rem;
    background-image: linear-gradient(-180deg, #ff9f67, #e66203);
    border-radius: 6px;
    box-shadow: rgba(61, 61, 61, 0.1) 0 2px 4px;
    color: #2d2d2d;
    cursor: pointer;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    height: 5rem;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
    width: 100%;
    border: 0;
    transition: box-shadow 0.2s;
}   

.button:hover {
    box-shadow: rgba(255, 77, 0, 0.5) 0 0px 24px;
    color: black;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 60vw;
    }
    .text{
        font-size: 1.4rem;
        width: 100%;
    }
    .button {
        margin-top: 1rem;
        background-image: linear-gradient(-180deg, #ff9f67, #e66203);
        border-radius: 3px;
        box-shadow: rgba(61, 61, 61, 0.1) 0 2px 4px;
        color: #2d2d2d;
        cursor: pointer;
        font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        height: 3rem;
        overflow: hidden;
        padding: 0 1rem;
        text-align: center;
        width: 100%;
        border: 0;
        transition: box-shadow 0.2s;
    }
}
