@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@1,900&family=Poppins:ital,wght@0,400;0,600;1,400&family=WindSong:wght@500&display=swap');

.info {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center !important;

    width: 60vw;
    padding: 0 20vw;
    height: 100%;

    margin: 6rem 0;
}

.info h1 {
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'WindSong', cursive; */
    /* font-weight: 1000; */
    margin: 0;
    font-size: 3rem;
    color: #FF9100;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.imgSec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    gap: 6rem;
}



.imageSmall {
    /* margin-top: 6rem; */
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imageSmall div {
    padding: 3rem;
}

.imageSmall img {
    width: 100%;
    z-index: 2;
    position: relative;
}


.imageBig {
    width: 60%;
}

.imageBig img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
}


@media only screen and (max-width: 768px) {
    .info {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        text-align: center !important;

        width: 80vw;
        padding: 0 10vw;
        height: 100%;

        margin: 6rem 0;
    }

    .info h1 {
        margin: 0;
        font-size: 2.5rem;
        color: #FF9100;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    }



    .imageSmall {
        /* margin-top: 6rem; */
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imageSmall div {
        padding: 1rem;
    }

    .imageSmall img {
        width: 100%;
        z-index: 2;
        position: relative;
    }

    .text {
        font-size: 1.2rem;
        text-align: center;
        font-weight: normal;
        color: white;
    }

}