@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@1,900&family=Poppins:ital,wght@0,400;0,600;1,400&family=WindSong:wght@500&display=swap');


@media screen and (min-width: 768px) {
    .bg img {
        height: 100%;
        width: 102%;
        margin-left: -1%;
    }



    .bg {
        width: 100vw;
        /* background-image: linear-gradient(white, #f5f5f5); */
        /* background: linear-gradient(#0b0b0b 0%, #0b0b0b 15%, #e1e1e1 15%, rgb(245, 245, 245) 60%, #c1c0c0 84%, #0b0b0b 78%, #0b0b0b 100%); */
        position: relative;
        z-index: 0;
        padding: 0;
        height: auto;
    }
    .mob {
        display: none;
    }
    .pc{
        display: block;
        /* position: absolute; */
        /* top: 0; */
    }
    .watch {

        display: flex;
        justify-content: center;
        align-items: center;

        display: none;
    }

    .watch h1 {
        /* padding: 1rem;
        border-radius: 20px;
        background-color: #e1e1e1; */
        /* font-family: 'Bebas Neue', sans-serif; */
        font-family: 'Nunito', sans-serif;
        /* font-family: 'Poppins', sans-serif; */
        /* font-family: 'WindSong', cursive; */
        /* font-weight: 1000; */
        margin: 0;
        font-size: 3rem;
        color: #ffffff;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    }

    .vid {
        position: absolute;
        top: 27%;
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 3% 10% 5% 10%;
    }

    .vid video {
        width: 100%;
        height: auto;
        border: 2px solid #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
    .reaper img{
        display: none;
    }
    .reaper {
        position: absolute;
        width: 65%;
        right:10%;
        bottom: 30%;
    }
    .reaper .text{
        font-family: 'Franklin Gothic Medium',sans-serif;
        text-align: justify;
        color: rgb(0, 0, 0);
        display: flex;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        font-size: 2rem;
        position: absolute;
    }

}

@media screen and (max-width: 768px) {
    .bg img {
        height: 100%;
        width: 101%;
        margin-left: -0.5%;
    }
    .mob {
        display: block;
    }
    .pc{
        display: none;
        /* position: relative; */
    }

    .bg {
        width: 100vw;
        /* background-image: linear-gradient(white, #f5f5f5); */
        background: linear-gradient(#0b0b0b 0%, #0b0b0b 15%, #e1e1e1 15%, rgb(245, 245, 245) 60%, #c1c0c0 84%, #0b0b0b 78%, #0b0b0b 100%);
        position: relative;
        z-index: 0;
        padding: 0;
        height: auto;
    }

    .watch {
        position: absolute;
        top: 30%;
        text-align: center;
        width: 100%;
        z-index: 2;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;

        display: none;
    }

    .reaper {
        position: absolute;
        top: 66%;
        width: 100%;
        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .reaper img {
        height: 35%;
        width: 35%;
    }

    .vid {
        position: absolute;
        top: 48%;
        top: 35%;
        display: flex;
        justify-content: center;
    }

    .text {
        
        font-family: 'Franklin Gothic Medium',sans-serif;
        text-align: justify;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        /* font-family: 'Nunito', sans-serif; */
        /* font-family: 'Poppins', sans-serif; */
        /* font-family: 'WindSong', cursive; */
        /* font-weight: 1000; */
        margin: 0;
        font-size: 4rem;
        color: #272727;
        /* text-shadow: 0px 0px 5px rgb(0, 0, 0); */
    }

    video {
        width: 95%;
        height: 30%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
}